<div class="container text-center" id="calc">
  <div class='col-md-12 ' style="display: grid;">
    <div class="date_filters">
     <%= form_tag(megasoft_admin_path, method: "get", class: "date_filters") do %>
        <div class="filter"><%= text_field_tag :start_date, @start_date, class: 'datepicker', placeholder: 'Start date' %></div>
        <div class="filter"><%= text_field_tag :end_date, @end_date, class: 'datepicker', placeholder: 'End date' %></div>
        <div class="filter"><%= submit_tag "Submit", class: 'btn btn-default' %></div>
    <% end %>
    </div>
    <div class="reports">
      <div class="report_btn"><%= button_to "Monthly report", megasoft_admin_get_report_path(format: 'csv'), method: :get, params: { type: "monthly" }, class: "btn btn-default" %></div>
      <div class="report_btn"><%= button_to "Weekly report", megasoft_admin_get_report_path(format: 'csv'), method: :get, params: { type: "weekly" }, class: "btn btn-default" %></div>
      <div class="report_btn"><%= button_to "Daily report", megasoft_admin_get_report_path(format: 'csv'), method: :get, params: { type: "daily" }, class: "btn btn-default" %></div>
    </div>
  </div>
  <div class="calcBG col-md-3 col-md-offset-3 text-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Operator</th>
          <th scope="col">Count</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <% @operator_usages.each_with_index do |ou, index| %>
          <tr>
            <th scope="row"><%= index %></th>
            <td><%= ou.operator.display_sign %></td>
            <td><%= ou.usage %></td>
            <td><%= ou.day %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @operator_usages %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.datepicker').datepicker({format: 'dd/mm/yyyy'});
  });
</script>