<!DOCTYPE html>
<html>
  <head>
    <title>MegasoftCalc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <h1>Megasoft Calculator</h1>      
    </div>
    <%= yield %>
  </body>
</html>
